:root {
    --main-font: 'Hind Siliguri', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
    --main-color: #333333;
    --secondary-color: #F07566;
    --secondary-object-color: #FBD34B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

#container {
    width: 1170px;
    margin: 0 auto;
}

.header-decor-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

    /* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 128px;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.main-heading {
    margin-right: 42px;
    font-size: 40px;
    line-height: 48px;
}

.main-heading:hover {
    opacity: 0.8;
}

.main-heading-inner {
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link {
    margin-right: 50px;
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link:last-of-type {
    margin-right: 0;
}

[class*=button] {
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 1s ease;
}

.header-button {
    width: 138px;
    height: 48px;
}

.transparent-button {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid rgba(240, 117, 102, 0.236809);
}

.transparent-button:hover {
    background-color: var(--secondary-color);
    color: #FFF;
}

.burger {
    display: none;
}

    /* COMPANY ARTICLE */

.article-wrapper-company, .article-feature, .article-cards, .article-portfolio, .article-service, .article-strategy, .article-team, .article-wrapper-about, .article-review, .article-project, .article-latest, .footer-text, .copyright-wrapper {
    display: flex;
}

.article-wrapper-company {
    margin-bottom: 400px;
}

.article-wrapper-company .main-text {
    margin-right: 200px;
    padding-top: 59px; /*187px-128px*/
}

.secondary-heading-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.dot {
    background: var(--secondary-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
}

.secondary-heading {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.piece-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -1px;
}

.piece-main {
    color: var(--main-color);
}

.piece-secondary {
    color: var(--secondary-color);
}

.piece-secondary::after {
    content: '';
    display: block;
    height: 23px;
    width: 347px;
    margin-bottom: 38px;
    background: url(../img/underline.png);
}

.article-wrapper-company .article-text-wrapper {
    font-size: 20px;
}

.article-text-wrapper {
    color: var(--main-color);
    max-width: 470px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-family: var(--secondary-font);
    margin-bottom: 35px;
}

.article-button {
    width: 154px;
    height: 48px;
}

.main-button {
    background-color: var(--secondary-color);
    color: #FFF;
    border: var(--secondary-color); /*in order not to change sizes*/
}

.main-button:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid rgba(240, 117, 102, 0.236809);
}

/* objects */

.main-object-marketing {
    width: 462px;
    height: 480px;
    background: var(--secondary-object-color);
    border-radius: 10em 0.5rem 0.5rem 0.5rem;
    position: relative;
    font-size: 10px;
}

.secondary-object {
    position: absolute;
    width: 132px;
    height: 184px;
    background: var(--secondary-color);
    border-radius: 8px;
    right: -38px;
    top: 157px;
    z-index: -1;
}

.statistic-object {
    position: absolute;
    left: -48px;
    bottom: -48px;
    width: 216px;
    background-color: #FFF;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: top 16px left 26px;
    padding: 32px 28px 22px;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.arrow-img {
    margin-top: 16px 0 0 26px;
}

/* blocks */

.statistic-object > * {
    border-radius: 4px;
    width: 16px;
    margin-right: 13px; 
}

.block-first {
    height: 16px;
    background: var(--secondary-object-color);
}

.block-second {
    background: #4DB282;
    height: 22px;
}

.block-third {
    background: var(--secondary-color);
    height: 30px;
}

.block-fourth {
    background: var(--secondary-object-color);
    height: 39px;
}

.block-fifth {
    background: #4DB282;
    height: 52px;
}

.block-sixth {
    background: var(--secondary-color);
    height: 74px;
    margin-right: 0;
}

.icon-mouthpiece-wrapper, .icon-business-wrapper, .icon-feature-wrapper, .icon-rocket-wrapper, .icon-news-wrapper {
    top: 96px;
    left: -54px;
    position: absolute;
    background: #41956D;
    box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 8px 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* ABOUT ARTICLE */

.article-wrapper-about {
    padding-left: 50px;
    margin-bottom: 125px;
}

/* OBJECTS */

.main-object-business {
    width: 520px;
    height: 448px;
    background: #D8D8D8;
    border-radius: 8px 100px 8px 8px;
    position: relative;
}

.secondary-object-business {
    position: absolute;
    bottom: -16px;
    left: -16px;
    width: 482px;
    height: 326px;
    background: var(--secondary-object-color);
    border-radius: 12px;
    z-index: -2;
}

.icon-business-wrapper {
    top: 64px;
    left: -50px;
}

.red-object-business, .red-object-review {
    background: var(--secondary-color);
    left: -30px;
    bottom: -29px;
    border-radius: 8px;
    position: absolute;
    width: 132px;
    height: 160px;
    z-index: -1;
}

.checkmark-object {
    width: 128px;
    height: 128px;
    background: #FFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    position: absolute;
    right: -46px;
    bottom: -56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*=-oval] {
    position: absolute;
}

.red-oval {
    top: 20px;
    left: 20px;
}

.yellow-oval {
    top: 20px;
    left: 35px;
}

.green-oval {
    top: 20px;
    left: 56px;
}

/* ARTICLE TEXT */

.article-wrapper-about .main-text {
    margin-left: 130px;
    margin-right: 0;
    margin-top: 0;
    max-width: 343px;
}

.article-wrapper-about .third-heading {
    margin-bottom: 26px;
}

.third-heading {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 28px;
    color: var(--main-color);
}

.business-added {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--main-color);
    opacity: 0.9;
    margin-bottom: 34px;
}

.checkmark-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: var(--secondary-font);
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.checkmark-paragraph:last-of-type {
    margin-bottom: 42px;
}

.icon-checkmark-paragraph {
    margin-right: 8px;
}

.article-button-business {
    width: 170px;
    height: 48px;
}

    /* CARDS */

.article-cards {
    padding: 180px 0 150px;
    position: relative;
    margin-bottom: 186px;
}

.img-decor-cards {
    position: absolute;
    top: 0;
    left: -135px;
    z-index: -1;
}

.card {
    width: 270px;
    background: #FFF;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    padding: 32px;
    margin-right: 30px;
}

.card:last-of-type {
    margin: 0;
}

.card:hover {
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.icon-consulting:before, .icon-planning:before, .icon-support:before, .icon-cooperation:before {
    font-size: 64px;
}

.icon-consulting, .icon-planning, .icon-support, .icon-cooperation {
    margin-bottom: 90px;
}

.card-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 18px;
    color: var(--main-color);
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-family: var(--secondary-font);
    color: rgba(51, 51, 51, 0.496405);
}

    /* FEATURES ARTICLE */

/* MAIN TEXT FEATURES */

.article-feature {
    margin-bottom: 251px;
}

.article-feature .main-text {
    margin-right: 208px;
    max-width: 470px;
    padding-top: 27px; /*363px-336px*/
}

.article-feature .third-heading {
    width: 387px;
}

.card-feature {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    border-radius: 8px;
    padding: 25px 32px;
}

.article-feature .card-heading {
    margin-bottom: 6px;
}

.article-feature .card-text {
    font-size: 14px;
    line-height: 24px;
}

.icon-star {
    margin-right: 16px;
}

/* OBJECTS FEATURES */

.main-object-feature {
    width: 462px;
    height: 480px;
    background: #D8D8D8;
    border-radius: 100px 8px 8px 8px;
    position: relative;
}

.red-object-feature {
    position: absolute;
    width: 216px;
    height: 128px;
    background: var(--secondary-color);
    border-radius: 8px;
    top: -32px;
    right: -30px;
    z-index: -1;
}

.secondary-object-feature {
    position: absolute;
    width: 173px;
    height: 439px;
    background: var(--secondary-object-color);
    border-radius: 12px;
    right: -15px;
    bottom: -16px;
    z-index: -2;
}

.graph-wrapper {
    position: absolute;
    width: 216px;
    background: #FFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    bottom: -48px;
    left: 123px;
    padding: 27px 29px 19px 23px;
}

.left-line, .bottom-line {
    background: var(--secondary-object-color);
    border-radius: 4px;
}

.left-line {
    width: 8px;
    height: 82px;
}

.bottom-line {
    width: 164px;
    height: 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: relative;
    bottom: 8px;
}

.graph-line {
    position: absolute;
    top: 23px;
    right: 28px;
}

.graph-circle {
    position: absolute;
    top: 22px;
    right: 19px;
}

    /* PORTFOLIO ARTICLE */

/* MAIN TEXT */

.article-portfolio {
    align-items: center;
    flex-direction: column;
    margin-bottom: 143px;
}

.article-portfolio .third-heading {
    margin-bottom: 28px;
}

.article-portfolio .card-text {
    max-width: 770px;
    text-align: center;
    margin-bottom: 61px;
}

/* CASES */

.cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 69px;
}

.case {
    display: flex;
    flex-direction: column;
}

.case:nth-of-type(1) {
    margin-bottom: 53px;
}

.case-inner {
    width: 570px;
    height: 384px;
    background: #D8D8D8;
    border-radius: 8px;
    position: relative;
    margin-bottom: 25px;
}

.case-number {
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4DB282;
    border-radius: 0px 24px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-number-inner {
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFF;
}

.article-portfolio .case .third-heading {
    font-size: 24px;
    margin: 0 auto;
    line-height: 32px;
    margin-bottom: 2px;
}

.case .card-text {
    width: 100%;
    margin-bottom: 0;
}

.portfolio-button {
    width: 170px;
    height: 48px;
}

    /* SERVICES */

.services-wrapper {
    margin-bottom: 216px;
}

.services-wrapper img:nth-of-type(1) {
    margin-right: 57px;
}

.services-wrapper img:nth-of-type(2) {
    margin-right: 72px;
}

.services-wrapper img:nth-of-type(3) {
    margin-right: 86px;
}

.services-wrapper img:nth-of-type(4) {
    margin-right: 98px;
}

.services-wrapper img:nth-of-type(5) {
    margin-right: 95px;
}

    /* SERVICE ARTICLE */

.article-service {
    margin-bottom: 256px;
}
    
/* MAIN TEXT */

.article-service .main-text {
    margin: 43px 157px 0 0;
}

.article-service .third-heading {
    width: 481px;
}

.percent-wrapper, .percent-wrapper-inner {
    display: flex;
}

.icon-clients-wrapper, .icon-successful-wrapper {
    background: #FFFAEA;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.percent-text {
    margin: 4px 91px 0 0;
}

.percent-number {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}

/* OBJECTS */

.main-object-service {
    width: 462px;
    height: 480px;
    background: #D8D8D8;
    border-radius: 100px 8px 8px 8px;
    position: relative;
}

.secondary-object-service {
    width: 255px;
    height: 319px;
    border-radius: 12px;
    background: var(--secondary-object-color);
    position: absolute;
    right: -15px;
    bottom: -16px;
    z-index: -1;
}

.red-object-service {
    width: 216px;
    height: 128px;
    background: var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    bottom: -32px;
    left: 89px;
    z-index: -1;
}

.icon-rocket-wrapper {
    left: -38px;
}

/* BLOCKS */

.blocks-wrapper-service {
    display: flex;
    background: #FFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    position: absolute;
    right: -70px;
    top: 144px;
    padding: 27px 13px 24px 16px;
    justify-content: center;
    flex-direction: column;
}

.blocks-wrapper-inner {
    display: flex;
    align-items: baseline;
    margin-bottom: 11px;
}

.blocks-wrapper-inner > * {
    border-radius: 4px;
    margin-right: 13px;
    width: 16px;
}

.blocks-wrapper-inner div:nth-of-type(1) {
    height: 55px;
    background: var(--secondary-color);
}

.blocks-wrapper-inner div:nth-of-type(2) {
    height: 69px;
    background: var(--secondary-object-color);
}

.blocks-wrapper-inner div:nth-of-type(3) {
    height: 55px;
    background: #4DB282;
}

.blocks-wrapper-inner div:nth-of-type(4) {
    height: 79px;
    background: var(--secondary-color);
    margin-right: 0;
}

    /* STRATEGY ARTICLE */

.article-strategy {
    height: 384px;
    position: relative;
    box-shadow: 135px 0 var(--secondary-color),  -135px 0 var(--secondary-color);
    background: var(--secondary-color);
    padding: 0 30px 0 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 139px;
}

.design-decor-img {
    position: absolute;
    top: -66px;
}

.icon-triangle-wrapper {
    position: relative;
    z-index: 1;
    width: 128px;
    height: 128px;
    background: var(--secondary-object-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 142px;
}

.article-strategy .main-text {
    max-width: 510px;
}

.article-strategy .third-heading, .article-strategy .card-text {
    color: #fff;
}

.article-strategy .card-text {
    font-size: 20px;
    font-weight: 400;
}

    /* TEAM ARTICLE */

.article-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.article-team .card-text {
    max-width: 770px;
    margin-bottom: 61px;
}

/* CAROUSEL */

.slick-dotted.slick-slider {
    padding-left: 30px;
    margin-bottom: 227px;
}

.slick-list {
    padding-bottom: 64px;
    margin-left: -30px;
    overflow-y: visible;
}

.slick-slide {
    margin-right: 30px;
}

.slick-slide:hover {
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.slick-dots {
    position: static;
    margin: 0 -30px 0 0;
}

.slick-dots li {
	margin: 0 16px 0 0;
}

.slick-dots li button::before {
	font-size: 30px;
    color: #FFE4E1;
}

.slick-dots li.slick-active button:before {
	color: var(--secondary-color);
    font-size: 50px;
}

.carousel-card {
    padding: 16px 16px 21px;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    width: 370px;
    display: flex;
    flex-direction: column;
}

.color-e {
    background: #E7F3ED;
}

.color-f{
    background: #F9E3E1;
}

.color-fb {
    background: #FBF6E3;
}

.carousel-card-inner {
    max-width: 338px;
    height: 320px;
    border-radius: 8px 8px 50px 8px;
    margin-bottom: 25px;
}

.carousel-card .third-heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2px;
}

.carousel-card .third-heading, .carousel-card .card-text {
    margin-left: 16px;
}

    /* REVIEW ARTICLE */

.article-review {
    margin-bottom: 240px;
}

/* OBJECTS */

.main-object-review {
    width: 520px;
    height: 448px;
    background: #D8D8D8;
    position: relative;
    border-radius: 8px 100px 8px 8px;
    margin-right: 130px;
}

.secondary-object-review {
    position: absolute;
    width: 520px;
    height: 326px;
    bottom: -16px;
    left: -16px;
    z-index: -1;
    background: var(--secondary-object-color);
    border-radius: 12px;
}

.icon-news-wrapper {
    top: 64px;
    left: -50px;
}

/* MAIN TEXT */

.article-review .main-text {
    margin-top: 24px;
}

.review-box {
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    border-radius: 8px;
    padding: 27px 32px 25px 27px;
    max-width: 406px;
    position: relative;
    margin-bottom: 48px;
}

.review-box .card-text {
    margin-bottom: 14px;
}

.review-box .card-heading {
    margin-bottom: 6px;
}

.quotes {
    position: absolute;
    top: -18px;
    right: 38px;
}

.ic-wrapper {
    display: flex;
}

.icon-arrow-right {
    background: var(--secondary-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    margin-right: 8px;
    color: #fff;
}

.left-ic {
    transform: rotate(-180deg);
    padding-right: 2px;
}

    /* PROJECT ARTICLE */

.article-project {
    padding: 79px 100px 96px;
    border-radius: 8px;
    background: var(--secondary-color);
    justify-content: space-between;
    position: relative;
    margin-bottom: 108px;
}

.waves-decor {
    position: absolute;
    bottom: -26px;
    right: 416px;
}

.article-project .third-heading {
    color: #fff;
    max-width: 260px;
    margin-bottom: 33px;
}

.button-project {
    width: 170px;
    height: 48px;
    background-color: var(--secondary-object-color);
    border: 1px var(--secondary-object-color) solid;
    color: var(--main-color);
}

.button-project:hover {
    background-color: transparent;
    color: #fff;
}

.article-project .article-text-wrapper {
    color: #fff;
}

    /* FORM NEWSLETTER */

.form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 171px;
}

.form-wrapper .third-heading {
    font-size: 40px;
    line-height: 48px;
}

#email {
    border: 1px solid #DADADA;
    border-radius: 6px;
    width: 286px;
    height: 48px;
    padding-left: 16px;
    outline: none;
    margin-right: 30px;
    font-size: 16px;
    font-family: var(--secondary-font);
}

.news-button {
    width: 154px;
    height: 48px;
}

    /* LATEST ARTICLE */
     
.article-latest {
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.article-latest .card-text {
    max-width: 770px;
    margin-bottom: 45px;
}

.latest-box {
    border: 1px solid #E6EDF5;
    display: flex;
    border-radius: 8px;
    padding: 16px 40px 16px 16px;
    margin-bottom: 32px;
}

.latest-box-inner {
    background: #D8D8D8;
    border-radius: 8px 8px 50px 8px;
    width: 554px;
    height: 336px;
    margin-right: 66px;
}

.latest-box .main-text {
    max-width: 494px;
    text-align: start;
    margin-top: 44px;
}

.article-latest .third-heading {
    font-size: 40px;
    line-height: 48px;
}

.article-latest .article-text-wrapper {
    font-size: 20px;
}

    /* LATEST CARDS */

.latest-cards {
    display: flex;
    margin-bottom: 64px;
}

.latest-card {
    padding: 16px 16px 39px;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    margin-right: 30px;
}

.latest-card:hover {
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.latest-card-inner {
    max-width: 338px;
    height: 240px;
    background: #D8D8D8;
    border-radius: 8px 8px 50px 8px;
    margin-bottom: 25px;
}

.latest-card .card-heading {
    margin: 0 0 0 16px;
    max-width: 306px;
}

.latest-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.latest-button {
    width: 170px;
    height: 48px;
    margin-bottom: 128px;
}

    /* FOOTER */
    
/* MAIN TEXT */

.footer {
    background-color: #3F3836;
    padding: 76px 135px 53px;
}

.footer-text {
    padding-bottom: 69px;
    border-bottom: 1px #494949 solid;
}

.footer-text .main-heading {
    margin-right: 219px;
}

.footer-text .main-heading-inner {
    color: #fff;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column:first-of-type {
    margin-right: 233px;
}

.footer-column:nth-of-type(2) {
    margin-right: 204px;
}

.footer-heading, .footer-link {
    font-size: 16px;
    line-height: 32px;
    font-family: var(--secondary-font);
}

.footer-heading {
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.link-wrapper {
    display: grid;
}

.footer-link {
    text-decoration: none;
    color: #fff;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer .ic-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: var(--secondary-color);
    border-radius: 50%;
    margin-right: 8px;
    border: 1px var(--secondary-color) solid;
    cursor: pointer;
}

.footer .ic-wrapper button::before {
    font-size: 16px;
}

.footer .ic-wrapper button:hover {
    background: transparent;
}

/* COPYRIGHT TEXT */

.copyright-wrapper {
    justify-content: space-between;
    padding: 58px 0 0;
}

.copyright-wrapper .card-text {
    color: rgba(255, 255, 255, 0.502972);
}

.terms-wrapper .card-text {
    color: #fff;
}

.terms-wrapper .footer-link:first-of-type {
    margin-right: 60px;
}


    /* ARROW TOP */

#upbutton {
    transform: rotate(-90deg);
    cursor: pointer;
    position: fixed;
    right: 36px;
    bottom: 31px;
    text-decoration: none;
    transition: 1s ease;
}

@media screen and (max-width:375px) {
    #container {
        max-width: 329px;
    }

    .header-decor-img {
        width: 308px;
    }

    .header {
        margin-bottom: 43px;
    }

    .main-heading-inner {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1px;
    }

    .header-navigation {
        display: none;
    }

    .header-button {
        display: none;
    }

    .burger {
        display: block;
        display: flex;
        padding: 15px 13px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        border: none;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-inner, .burger::before, .burger::after {
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        background: #fff;
        border-radius: 2px; 
    }

    .article-wrapper-about, .article-wrapper-company, .article-cards, .article-feature, .article-service, .article-review, .latest-box, .latest-cards, .footer-text  {
        flex-direction: column;
    }

    /* MENU OPEN */

    .header.menu-open {
		background: var(--secondary-color);
		position: absolute;
		width: 100%;
		min-height: 200px;
		z-index: 1;
		top: 0;
		left: 0;
        padding: 16px 23px;
        border-radius: 4px;
	}

    .menu-open .main-heading {
        position: relative;
        animation: falling 5s linear infinite alternate;
        animation-delay: 10s;
    }

    .menu-open .main-heading-inner {
        color: #fff;
    }
    
    @keyframes falling {
        0% {
            top: 0;
            left: 0;
        }

        50% {
            top: 210px;
            left: 146px;
            transform: rotate(180deg);
        }

        100% {
            top: 107px;
            left: 276px;
            transform: rotate(45deg);
        }
    }

    .menu-open .nav-wrapper {
        display: block;
    }

    .menu-open nav {
        display: flex;
        flex-direction: column;
    }

    .menu-open .nav-link {
        color: #fff;
        border-bottom: 1px #fff solid;
        margin-top: 10px;
        transition: margin ease-in-out 0.5s;
    }

    .menu-open .nav-link:hover {
        margin-left: 15px;
    }

    .menu-open .nav-link:last-of-type {
        margin-right: 50px;
    }

    .menu-open .burger-inner {
        width: 0;
        transition: width ease 0.5s;
    }

    .menu-open .burger::before, .menu-open .burger::after {
        transform-origin: right;
        transition: transform ease 1s;
    }

    .menu-open .burger::before {
        transform: rotate(-45deg);
    }

    .menu-open .burger::after {
        transform: rotate(45deg);
    }

    .menu-open + .article-wrapper-company {
        padding-top: 107px;
    }

        /* ARTICLE COMPANY */

    .article-wrapper-company {
        margin-bottom: 140px;
    }    

    /* MAIN OBJECT USING PIXEL PERFECT */

    .main-object-marketing {
        width: 276px;
        height: 287px;
        margin: 0 0 90px 40px;
        border-radius: 58px 4px 4px 4px;
    }

    .secondary-object {
        top: 93px;
        height: 110px;
        right: -24px; 
    }

    .statistic-object {
        transform: scale(0.6);
        left: -73px;
        bottom: -54px;
    }

    .icon-mouthpiece-wrapper {
        top: 58px;
        left: -33px;
        width: 60px;
        height: 59px;
    }

    .icon-mouthpiece-wrapper::before {
        font-size: 29px;
    }

    /* MAIN TEXT */

    .article-wrapper-company .main-text {
        margin: 0;
        order: 2;
    }

    .secondary-heading-wrapper {
        margin-bottom: 17px;
    }

    .piece-wrapper {
        font-size: 56px;
        line-height: 64px;
    }

    .piece-secondary::after {
        background: no-repeat bottom url(../img/underline-sm.png);
        width: 254px;
        height: 17px;
        margin-bottom: 30px;
    }

    .article-text-wrapper {
        margin-bottom: 32px;
    }

        /* ARTICLE ABOUT */

    .article-wrapper-about {
        padding-left: 0;
        margin-bottom: 73px;
    }

    .article-wrapper-about .main-text {
        margin-left: 0;
    }

    .article-wrapper-about .third-heading {
        width: 231px;
    }

    /* BUSINESS OBJECT USING PIXEL PERFECT */

    .main-object-business {
        width: 278px;
        height: 239px;
        border-radius: 4px 50px 4px 4px;
        margin: 0 0 68px 26px;
    }

    .secondary-object-business {
        left: -7px;
        bottom: -9px;
        width: 278px;
        height: 205px;
    }

    .icon-business-wrapper {
        top: 35px;
        left: -27px;
        width: 55px;
        height: 53px;
    }

    .icon-business-wrapper::before {
        font-size: 25px;
    }

    .red-object-business {
        left: -15px;
        bottom: -17px;
        width: 71px;
        height: 86px;
        border-radius: 4px;
    }

    .checkmark-object {
        transform: scale(0.55);
        right: -55px;
        bottom: -61px;
    }

    .img-decor-cards {
        width: 363px;
    }

    /* BUSINESS TEXT  */

    .business-header {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 13px;
        width: 231px;
    }

    .business-added {
        margin-bottom: 23px;
    }

        /* CARDS */

    .article-cards {
        padding: 55px 0 0;
        align-items: center;
        margin-bottom: 155px;
    }

    .card {
        margin: 0 0 32px;
    }

        /* FEATURES */

    /* FEATURE TEXT */

    .article-feature {
        margin-bottom: 188px;
    }
    
    .article-feature .main-text {
        margin: 0 0 99px;
        padding-top: 0;
    }

    .article-feature .secondary-heading-wrapper {
        margin-bottom: 17px;
    }

    .article-feature .third-heading {
        width: 273px;
        margin-bottom: 15px;
    }

    .third-heading {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 15px;
    }

    .article-feature .article-text-wrapper {
        margin-bottom: 13px;
    }

    .card-feature {
        padding: 25px 32px 20px;
    }

    /* FEATURE OBJECTS USING PIXEL PERFECT */

    .main-object-feature {
        width: 278px;
        height: 288px;
        border-radius: 59px 4px 4px 4px;
        margin-left: 34px;
        order: 2;
    }

    .secondary-object-feature {
        right: -9px;
        bottom: -9px;
        height: 270px;
    }

    .red-object-feature {
        width: 130px;
        height: 77px;
        top: -20px;
        right: -18px;
        border-radius: 4px;
    }

    .icon-feature-wrapper {
        top: 57px;
        left: -32px;
        width: 61px;
        height: 60px;
    }

    .icon-feature-wrapper::before {
        font-size: 28px;
    }

    .graph-wrapper {
        transform: scale(0.6);
        bottom: -61px;
        left: 30px;
    }

        /* PORTFOLIO ARTICLE */

    .article-portfolio {
        margin-bottom: 98px;
    }
    
    /* MAIN TEXT */

    .article-portfolio .card-text {
        margin-bottom: 45px;
    }

    .article-portfolio .cases .card-text {
        margin-bottom: 0;
    }

    .article-portfolio .third-heading {
        margin-bottom: 15px;
    }

    /* CASES */

    .cases {
        margin-bottom: 0;
    }

    .case {
        margin-bottom: 53px;
    }

    .case-inner {
        width: 329px;
        height: 222px;
    }

        /* SERVICES */

    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 21px;
        row-gap: 51px;
        margin-bottom: 169px;
    }
    
    #container .services-wrapper > * {
        margin-right: 0;
    }

        /* SERVICE ARTICLE */

    /* MAIN TEXT */

    .article-service .main-text {
        margin: 0 0 69px;
    }

    .article-service .third-heading {
        width: 338px;
    }

    .percent-wrapper {
        flex-direction: column;
    }

    .percent-wrapper-inner:first-of-type {
        margin-bottom: 33px;
    }

    /* SERVICE OBJECTS USING PIXEL PERFECT */

    .main-object-service {
        order: 2;
        width: 265px;
        height: 276px;
        border-radius: 59px 4px 4px 4px;
        margin-left: 24px;
    }

    .secondary-object-service {
        width: 164px;
        height: 165px;
        right: -9px;
        bottom: -9px;
        border-radius: 6px;
    }

    .red-object-service {
        width: 124px;
        bottom: -18px;
        left: 50px;
        border-radius: 4px;
    }

    .icon-rocket-wrapper {
        width: 58px;
        height: 58px;
        top: 55px;
        left: -22px;
    }

    .icon-rocket-wrapper::before {
        font-size: 27px;
    }

    .blocks-wrapper-service {
        transform: scale(0.55);
        top: 44px;
    }

        /* STRATEGY ARTICLE */

    .article-strategy {
        flex-direction: column;
        padding: 140px 0 62px;
        height: 768px;
    }

    .article-strategy .third-heading {
        width: 250px;
    }

    .icon-triangle-wrapper {
        margin: 0 0 176px;
    }

    .design-decor-img {
        top: -26px;
        width: 339px;
        left: -10px;
    }

        /* TEAM ARTICLE */

    .article-team .card-text {
        margin-bottom: 79px;
    }

        /* CAROUSEL */
    
        /* REVIEW ARTICLE */

    /* OBJECTS USING PIXEL PERFECT */

    .main-object-review {
        margin: 0px 0 61px 29px;
        width: 300px;
        height: 258px;
        border-radius: 4px 59px 4px 4px;
    }

    .secondary-object-review {
        width: 301px;
        height: 222px;
        bottom: -10px;
        left: -9px;
    }

    .red-object-review {
        left: -17px;
        bottom: -17px;
        width: 76px;
        height: 92px;
        border-radius: 4px;
    }

    .icon-news-wrapper {
        width: 58px;
        height: 58px;
        top: 37px;
        left: -29px;
    }

    .icon-news-wrapper:before {
        font-size: 27px;
    }

    /* MAIN TEXT */

    .article-review {
        margin-bottom: 144px;
    }

    .article-review .main-text {
        margin-top: 0;
    }

    .review-box {
        margin-bottom: 32px;
    }

    .review-box .third-heading {
        margin-bottom: 20px;
    }

    .ic-wrapper {
        justify-content: center;
    }

        /* PROJECT ARTICLE */

    .article-project {
        padding: 60px 57px 144px;
        flex-wrap: wrap;
        align-content: space-between;
        margin-bottom: 124px;
    }

    .btn-text {
        margin-bottom: 59px;
    }

    .article-project .third-heading {
        margin-bottom: 20px;
    }

    .waves-decor {
        bottom: -15px;
        right: 57px;
        width: 215px;
    }

    /* NEWSLETTER FORM */

    .form-wrapper {
        flex-wrap: wrap;
        margin-bottom: 187px;
    }

    .form-wrapper .third-heading {
        margin-bottom: 36px;
    }

    #email {
        margin-bottom: 16px;
    }

        /* LATEST ARTICLE */

    .article-latest {
        margin-bottom: 16px;
    }

    .latest-box {
        padding: 16px 16px 47px;
        margin: 0;
    }

    .latest-box-inner {
        width: 296px;
        height: 180px;
        margin-right: 0;
    }

    .latest-box .main-text {
       width: 300px;
       margin-top: 25px;
    }

        /* LATEST CARDS */

    .latest-card {
        margin: 0 0 16px;
    }

    .latest-card:last-of-type {
        margin-bottom: 0;
    }

        /* LATEST BUTTON */

    .latest-button {
        margin-bottom: 112px;
    }

        /* FOOTER */

    .footer {
        padding: 76px 23px 69px;
    }

    .footer-text {
        padding-bottom: 80px;
    }

    .footer-column:first-of-type, .footer-column:nth-of-type(2), .footer .main-heading {
        margin: 0 0 64px;
    }

    .footer .ic-wrapper {
        justify-content: start;
    }

    .copyright-wrapper {
        padding: 58px 27px 0 26px;
        flex-direction: column;
    }

    .copyright-wrapper .card-text {
        text-align: center;
        margin-bottom: 32px;
    }
}

